{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>Participant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ participant.mdp }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ participant.pseudo }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ participant.adresse }}</td>
            </tr>
            <tr>
                <th>DateDeNaissance</th>
                <td>{{ participant.dateDeNaissance ? participant.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participant_index') }}">back to list</a>

    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">edit</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
