{% extends 'base.html.twig' %}

{% block title %}Inscription Intervenant{% endblock %}

{% block stylesheets %}
    <style>
        .register-card {
            background-color: #FFC9D2;
            border-radius: 45px;
            box-shadow: 0 4px 8px;
            margin-right: 150px;
            margin-left: 150px;
            margin-bottom: 50px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

    <header class="text-center p-1 mb-4">
        <h1 class="my-5" style="font-family: Bungee; color: rgb(255, 255, 255);">Bienvenue Intervenant</h1>
    </header>

    <div class="register-card mx-auto" style="width: 30%;">
    
        {{ form_errors(registrationForm) }}

        {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

        {{ form_start(registrationForm, {'attr': {'class': 'row justify-content-center'}}) }}
            <div class="d-grid gap-2 p-5">
                {{ form_row(registrationForm.nom, {
                    label: 'Nom', 
                    label_attr: {'style': 'font-family: Ubuntu;'}
                }) }}

                {{ form_row(registrationForm.nomDeScene, {
                    label: 'Nom de scène', 
                    label_attr: {'style': 'font-family: Ubuntu;'}
                }) }}

                {{ form_row(registrationForm.email, {
                    label: 'Email', 
                    label_attr: {'style': 'font-family: Ubuntu;'}
                }) }}

                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe',
                    label_attr: {'style': 'font-family: Ubuntu;'}
                }) }}
                {{ form_row(registrationForm.telephone, {
                    label: 'Num. téléphone',
                    label_attr: {'style': 'font-family: Ubuntu;'}
                }) }}
                
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'J\'accepte les conditions d\'utilisation', 
                    label_attr: {'style': 'font-family: Ubuntu;'}
                }) }}

                <button type="submit" class="btn btn-primary mt-5">S'inscrire</button>
                <a href="{{ path('app_home') }}" class="btn btn-outline-dark mt-3 text-decoration-none">Retour à l'accueil</a>

                <p class="mt-3">Vous avez deja un compte ? <a href="{{ path('app_login') }}" class="text-decoration-none">Se connecter</a></p>
            </div>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
