{% extends 'base.html.twig' %}

{% block title %}Profil index{% endblock %}

{% block stylesheets %}
    <style>
        .login-card {
            background-color: #FFC9D2;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 45px;
            box-shadow: 0 4px 8px;
            margin-right: 150px;
            margin-left: 150px;
            margin-bottom: 50px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}

    <header class="text-center p-1 mb-4">
        <h1 class="my-5" style="font-family: Bungee; color: rgb(255, 255, 255);">Profil index</h1>
    </header>

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pdp</th>
                    <th>Bio</th>
                    <th>Utilisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for profil in profils %}
                <tr>
                    <td>{{ profil.id }}</td>
                    <td>{{ profil.pdp }}</td>
                    <td>{{ profil.bio }}</td>
                    <td>{{ profil.utilisateur.nom }}</td>
                    <td>
                        <a href="{{ path('app_profil_show', {'id': profil.id}) }}" class="btn btn-outline-dark">Détails</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_profil_new') }}" class="btn btn-primary">Créer un profil</a>
        <a href="{{ path('app_evenement_index') }}" class="btn btn-dark">Revenir aux évènements</a>

    </div>

{% endblock %}
