{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container">

        <header class="mt-3">
            <a href="/logout" class="btn btn-outline-light text-decoration-none">Se déconnecter</a>
        </header>

        <div class="card p-3 mt-5">

            <h1 class="card-title mb-4" style="font-family: Bungee;">Bonjour {{ profil.utilisateur.nom }} !</h1>

            <div class="card-body">
                
                <img src="{{ 'profil.pdp' }}" alt="Photo de profil">

                <hr>
    
                <p class="card-text mt-3"><strong>Bio:</strong> {{ profil.bio }}</p>
            
                <a href="{{ path('app_profil_index') }}" class="btn btn-outline-dark">Retour aux profils</a>
                <a href="{{ path('app_profil_edit', {'id': profil.id}) }}" class="btn btn-dark">Modifier</a>
                <a href="{{ path('app_profil_delete', {'id': profil.id}) }}" class="btn btn-danger">Supprimer</a>

            </div>

        </div>
        
    </div>
{% endblock %}
