{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}

    <header class="container mt-3 mb-5">

        {% if app.user %}

            {% if utilisateur.profil_id is defined and utilisateur.profil_id is not null %}
                <a href="/profil/{id}" class="btn btn-dark text-decoration-none">Consulter mon profil</a>
            {% else %}
                <a href="/profil/new" class="btn btn-dark text-decoration-none">Consulter mon profil</a>
            {% endif %}

        {% endif %}

        <a href="/logout" class="btn btn-outline-light text-decoration-none">Se déconnecter</a>
        <h1 class="text-center my-4" style="font-family: Bungee; color: white;">Trouvez votre prochain évènement </h1>
    </header>

    <main>
        <div class="container mb-4">
            {{ form_start(form, {attr: {class: 'mb-4', 'data-turbo': 'true'}}) }}
                <div>
                    {{ form_row(form.search, {
                        attr: {class: 'form-control', autofocus: true},
                        label: 'Rechercher un évènement',
                        label_attr: {'style': 'font-family: Ubuntu; color: white;'},
                    }) }}
                    <button class="btn btn-dark mt-4" type="submit">Rechercher</button>
                    <a href="{{ path('app_evenement_index') }}" class="btn btn-outline-light mt-4">Réinitialiser</a>
                    {% if is_granted('ROLE_ORGANISATEUR') %}
                        <a href="{{ path('app_evenement_new') }}" class="btn btn-primary mt-4">Créer un évènement</a>
                    {% endif %}
                </div>
            {{ form_end(form) }}
        </div>
    
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Localisation</th>
                        <th scope="col">Horaires</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for evenement in evenements %}
                    <tr scope="row">
                        <td>{{ evenement.nom }}</td>
                        <td>{{ evenement.type }}</td>
                        <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                        <td>{{ evenement.localisation }}</td>
                        <td>{{ evenement.horaires ? evenement.horaires|date('H:i:s') : '' }}</td>
                        <td>{{ evenement.adresse }}</td>
                        <td>{{ evenement.organisateur.nom }}</td>
                        <td>
                            <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}" class="btn btn-sm btn-outline-dark">Détails</a>
                        </td>
                    </tr>
                {% else %}
                    <tr scope="row">
                        <td colspan="8">Aucun résultats</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    {#<a href="{{ path('app_evenement_new') }}">Create new</a>#}
{% endblock %}
