{% extends 'base.html.twig' %}

{% block title %}Organisateur index{% endblock %}

{% block body %}
    <h1>Organisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Mdp</th>
                <th>Siret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organisateur in organisateurs %}
            <tr>
                <td>{{ organisateur.id }}</td>
                <td>{{ organisateur.nom }}</td>
                <td>{{ organisateur.email }}</td>
                <td>{{ organisateur.telephone }}</td>
                <td>{{ organisateur.mdp }}</td>
                <td>{{ organisateur.siret }}</td>
                <td>
                    <a href="{{ path('app_organisateur_show', {'id': organisateur.id}) }}">show</a>
                    <a href="{{ path('app_organisateur_edit', {'id': organisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_organisateur_new') }}">Create new</a>
{% endblock %}
